    <div class="row">
      <div class="small-12 columns">
        <h2>Login</h2>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <button>Login with Facebook!...still to do</button>
          <form {{action 'authenticate' on='submit'}}>
            <div>
              <label for="identification">Name</label>
              {{input value=identification placeholder="Enter login..."}}
            </div>
            <div>
              <label for="password">Password</label>
              {{input value=password type='password' placeholder="Enter password..."}}
            </div>
            <div>
             <button type="submit">Login</button>
            </div>
            {{#if loginErrorMessage}}
              <div data-alert class="alert-box warning radius">
                <p>{{loginErrorMessage}}</p>
              </div>
            {{/if}}
          </form>
      </div>
    </div>
