    <div class="row">
      <div class="small-12 columns">
        <h2>Login</h2>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
          <form {{action 'authenticate' on='submit'}}>
            <p>
              <label for="identification">Name</label>
              {{input value=identification placeholder="Enter login..."}}
            </p>
            <p>
              <label for="password">Password</label>
              {{input value=password type='password' placeholder="Enter password..."}}
            </p>
            <p>
             <button type="submit">Login</button>
            </p>
            {{#if loginErrorMessage}}
              <div data-alert class="alert-box warning radius">
                <p>{{loginErrorMessage}}</p>
              </div>
            {{/if}}
          </form>
      </div>
    </div>
